body {
    background-image: linear-gradient(-90deg, #9ae1f7, #ffc7e1);
}

.logo {
    width: 60px;
    height: 40px;
}

.barra-menu {
    background-color: #c1c7ff;
}

svg {
    display: none;
    overflow: hidden;
    vertical-align: top;
    margin-top: -185px;
}

.facebook-svg {
    background-image: url('/proyecto/img/svg/icons8-facebook-50.svg');
    width: 100px;
    height: 100px;
}

.github-svg {
    background-image: url('/proyecto/img/svg/icons8-github-50.svg');
    width: 100px;
    height: 100px;
}

.instagram-svg {
    background-image: url('/proyecto/img/svg/icons8-instagram-50.svg');
    width: 100px;
    height: 100px;
}

@media (max-width: 800px) {
    svg {
        display: block;
        position: sticky;
        margin-top: 0 !important;
    }
    svg path {
        stroke: #c1c7ff;
        fill: #c1c7ff;
    }
}