    /* Colors:
    White (#FFF): Background page.
    Rich Black (#00171F): Icons.
    Prussian Blue (#003459): Titles and headers.
    Majorelle Blue (#454ADE): buttons and navbar.
    Maastricht Blue (#022B3A): borders.  */
    
    .navbar {
        background: #454ADE;
        border-bottom: #022B3A solid 5px;
    }
    
    .nav-link {
        color: beige
    }
    
    .title {
        color: #003459;
    }
    
    .logo {
        width: 35px;
        height: 35px;
    }
    
    .carousel {
        height: 100vh;
    }
    
    #icono {
        width: 16px;
        height: 16px;
    }
    
    .nav-link:hover {
        color: black;
    }
    
    @media(max-width:1500px) {
        .carousel {
            margin-top: 15px;
            height: 500px;
        }
        .carousel-item {
            height: 100vh;
        }
    }
    
    @media(max-width:800px) {
        .carousel {
            margin-top: 15px;
            height: 450px;
        }
        .carousel-item {
            height: 520px;
        }
    }
    
    @media(max-width:765px) {
        .carousel {
            margin-top: 15px;
            height: 450px;
        }
        .carousel-item {
            height: 495px;
        }
    }
    
    @media(max-width:700px) {
        .carousel {
            margin-top: 15px;
            height: 220px;
        }
        .carousel-item {
            height: 200px;
        }
    }
    
    @media(max-width:360px) {
        .carousel {
            margin-top: 20px;
            height: 220px;
        }
        .carousel-item {
            height: 200px;
        }
    }